{% extends "users/email/base.html" %}
{% block title %}Verify your email{% endblock %}
{% block intro %}<p style="margin:0 0 16px 0;">
                Welcome to {{ brand_name }}. You're one click away from unlocking your account &mdash;
                verify your email address to activate it and start ordering.
              </p>{% endblock %}
{% block action_label %}Verify Email{% endblock %}
{% block note %}This link expires in {{ expiry_days }} day{{ expiry_days|pluralize }}. If you didn't create an account with us, you can safely ignore this email.{% endblock %}
